body {

     max-width: 100%;
     overflow-x: hidden;
    background-color: #FBF9F5;
    font-family: 'Figtree', sans-serif;
    font-weight: normal; 
    margin: 0; 
    padding: 0; 
}

h1 {
    font-family: 'Instrument Serif', serif;
    font-size: 17.5rem;
    font-style: italic;
    font-weight: normal; 
    margin: 0;
}

h2 {
    font-family: 'Instrument Serif', serif;
    font-size: 6rem;
    font-style: italic;
    font-weight: normal; 
    margin: 0;
}

h3 {
    font-family: 'Instrument Serif', serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: normal;
    margin: 0;
}

h4 {
    font-family: 'Instrument Serif', serif;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: normal; 
    margin: 0;
}

h5 {
    font-family: 'Figtree', sans-serif;
    font-size: 1.25rem;
    font-weight: normal; 
    margin: 0;
}

h6 {
    font-family: 'Figtree', sans-serif;
    font-size: 1rem;
    font-weight: normal; 
    margin: 0;
}

p {
    font-family: 'Figtree', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

/* Nav Section */

.navbar {
    
    justify-content: space-between;
   background-color: #FBF9F5;
   overflow: hidden;
   width: 100vw; 
   box-sizing: border-box;
   display: flex;
   align-items: center;
   padding: 1rem 6rem; 
   border-bottom: 2px solid black; 
   position: sticky;
   background-color: #FBF9F5;
   overflow: hidden;
   top: 0;

}

.navbar ul {
   text-decoration: none;
   color: #000;
}


 .navbar a:hover {
   color: #FFB3B3;
 }
 .navbar a {
   text-decoration: none;
   padding: 1rem 2rem; 
   background-color: transparent;
   color: black;
   font-size: 1.25rem;
   font-family: 'Instrument Serif', serif;
   
   }

   .navbar li {
       display: inline-flex;
       margin-right: 1.25rem;
       align-items: center;
       font-family: 'Instrument Serif', serif;
       font-size: 1.25rem;
       padding: 0rem; 
       border: 0.0625rem solid black;
       border-radius: 2.5rem;
       background-color: transparent;
       text-decoration: none; }
   


.banner {
    margin-top: 6rem;
    padding-left: 1rem;
    padding-left: 1rem;
}

.banner img{
    margin-top: 0rem;
    padding-left: 6rem;
}
.banner h2{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}
.banner h3{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.banner p{
    margin-top: 0rem;
    font-size: 1.5rem;
    margin-bottom: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
}


.roles {
    margin-top: 2rem ;
    display: flex;
    justify-content: space-between;
    gap: 2rem; /* Adjust spacing between columns */
    text-align: center;
    margin-bottom: 2rem;
}

.roles div {
    flex: 1;
}

.hr {
    margin-bottom:6rem ;
}

.project {
    padding-left: 1rem;
    padding-right: 1rem;
}

.project p{
    margin-top: 0rem;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.project h3{
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.project img{
    margin-bottom: 5rem;
    padding-left: 6rem;
}
.mockup {
    display: flex;
    align-items: flex-start; 
    gap: 2rem; 
}

.mockup-text {
    flex: 1; 
    margin-top: 0; 
}

.mockup-image img {
    margin-top: 0; 
    max-width: 100%; 
    height: auto;
    margin-bottom: 6rem;
}

/* Footer Section */

.footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}


.footer h2 {
    margin-top: 4rem;
    font-size: 6em;
    padding-left: 6rem;
}

.footer h2 span {
    display: block;
}

.info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    padding-left: 6rem; 
    padding-right: 6rem; 
    margin-top: 4rem;

}

.info h5 {
    margin-top: 1rem;
    font-family: 'Instrument Serif', serif;
    font-size: 2.10rem;
}

.info p {
    margin-top: 1rem;
}

.cite {
    padding-left: 6rem;
    margin-bottom: 4rem;
}

.footer a {
    text-decoration: underline; 
    color: #000; 
    padding-left: 6rem; 
    padding-right: 6rem; 
}

.footer a:hover {
    color: #FFB3B3; 
}

.cite {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    gap: 4rem;
    margin-bottom: 0rem;
}

.cite p {
    margin: 0;
    padding-left: 1rem;
    margin-bottom: 4rem;
}

.cite a {
    text-decoration: none;
    color: grey;
    padding-left: 2rem;
    margin-bottom: 0rem;
    
}

.cite a:hover{
    color: #FFB3B3;
}

.footer a {
    text-decoration: underline;
    color: #000;
}

.footer a:hover {
    color: #FFB3B3;
}

